@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme inline {
    --font-poppins: "Poppins", sans-serif;
    --color-primary: #56483b;
    --color-secondary: #a7967b;
    --color-orange-brown: #9a5938;
    --color-accent: #a97a57;
    --color-foreground: #1e1e1e;
    --color-background: #f5f5f5;
}

@layer base {
    * {
        @apply outline-none font-poppins;
    }
    body {
        @apply font-poppins text-foreground bg-[#a97a57] bg-cover bg-center bg-no-repeat;
        background-image: url('../../public/assets/bg.jpg') ;
    }
}
