@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme inline {
    --font-poppins: "Poppins", sans-serif;
    --color-primary: #56483b;
    --color-secondary: #a7967b;
    --color-orange-brown: #9a5938;
    --color-accent: #a97a57;
    --color-foreground: #1e1e1e;
    --color-background: #f5f5f5;

    --color-wood-light: #E9C496;
    --color-wood-main: #D4A373;
    --color-wood-dark: #B98A55;
    --color-main: #321901;
    --color-input: #ffeed8;
    --color-remove: #571f1f;
}
@layer base {
    * {
        @apply outline-none font-poppins;
    }
    body {
        @apply font-poppins text-foreground;
        
        background: linear-gradient(
            to right, 
            #D4A373 0%, 
            #E9C496 50%, 
            #D4A373 100%
          
            

             
        );
        background-attachment: fixed;
        min-height: 100vh;
    }
}